---
import '../../styles/global.css';
import Layout from '../../layouts/Layout.astro';
import OffreCard from '../../components/OffreCard.astro';
import {getOffres} from '../../script/backend.mjs'

const offres = await getOffres();
---

<Layout titre="Offres">
    <h1 class="text-5xl font-black uppercase tracking-[-0.05em] text-orange-400 drop-shadow-2xl shadow-[0_0_50px_rgba(251,146,60,0.6)] mb-12 md:mb-20 text-center backdrop-blur-sm py-6 px-8 rounded-2xl bg-white/5 hover:scale-105 transition-all duration-500 hover:shadow-[0_0_80px_rgba(251,146,60,0.8)]">
        Offres
    </h1>
    <div class="grid grid-cols-3 gap-4 py-8 px-6 max-w-[1100px] mx-auto">
        {offres.map(offre => (
            <div class="offre" data-favori={offre.favori.toString()}>
                <OffreCard offre={offre} />
            </div>
        ))}
    </div>
    <button id="favori-button" class="bg-slate-600 rounded-lg text-white p-2">Afficher les favoris</button>
</Layout>
<script>
    const button = document.getElementById('favori-button');
    let showOnlyFavorites = false;
    
    button?.addEventListener('click', () => {
        showOnlyFavorites = !showOnlyFavorites;
        const offres = document.querySelectorAll('.offre');
        
        offres.forEach(offre => {
            const isFavori = offre.dataset.favori === 'true';
            
            if (showOnlyFavorites) {
                offre.style.display = isFavori ? 'block' : 'none';
                button.textContent = 'Afficher tout';
            } else {
                offre.style.display = 'block';
                button.textContent = 'Afficher les favoris';
            }
        });
    });
</script>